In [2]:
a = "deepak"
b = a.replace('e', '', 1)
print(f"Original string: {a}")
print(f"String after removing first 'e': {b}")

Original string: deepak
String after removing first 'e': depak

In [8]:
list = [1, 2, 3, 4, 5, 6 ,7 , 8, 9, 10]
print (list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = "kajal"

Original string: kajal

In [13]:
# Create a list and slice it to get values 10, 30, 50
a = [10, 20, 30, 40, 50]
sliced_numbers = a[::2]  
print(f"Original list: {a}")
print(f"After slicing : {a}")
print(f"Type of a : {type(a)}")

Original list: [10, 20, 30, 40, 50]
After slicing : [10, 20, 30, 40, 50]
Type of a : <class 'list'>

In [17]:
a = [10, 20 , 30 , 40 , 50 ]
a.append(a[::4])
print(a)

[10, 20, 30, 40, 50, [10, 50]]

In [ ]:
a = [ 10 , 20 , 30 , 40 , 50 ]
a.insert(0, "apple")
a.append("banana")
a.extend(["cherry", "date"])
print (a)

['apple', 10, 20, 30, 40, 50, 'banana', 'cherry', 'date']

In [ ]:
#sorting in ascending order
a = [ 3, 5, 67, 58 , 34 , 67, 89, 0 , 1 , 2 , 35 , 34, 99 , 100 , 25  ]
a.sort()
print(a)

[0, 1, 2, 3, 5, 25, 34, 34, 35, 58, 67, 67, 89, 99, 100]

In [ ]:
# sorting in desending order
a = [ 3, 5, 67, 58 , 34 , 67, 89, 0 , 1 , 2 , 35 , 34, 99 , 100 , 25  ]
a.sort()
a.reverse()
print(a)

[100, 99, 89, 67, 67, 58, 35, 34, 34, 25, 5, 3, 2, 1, 0]

In [33]:
a = [ 3, 5, 67, 58 , 34 , 67, 89, 0 , 1 , 2 , 35 , 34, 99 , 100 , 25  ]
a = sorted(a, reverse=True)
print(a)

[100, 99, 89, 67, 67, 58, 35, 34, 34, 25, 5, 3, 2, 1, 0]

In [ ]:
# nested list 
a=[1,2,3]
print(a)
a.sort(reverse=True)
new_list = [4,5,6 ]
new_list.sort(reverse=True)
print(new_list)
new_list.append(7)
nested_list = [a, new_list]
print(nested_list)

[1, 2, 3]
[4, 5, 6]
[[3, 2, 1], [4, 5, 6, 7]]

In [ ]:
#  tuple